.carsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 29px;
  margin: 50px auto;
  padding: 0;
  list-style: none;
  max-width: 1184px;
}

@media (max-width: 1200px) {
  .carsList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .carsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .carsList {
    grid-template-columns: 1fr;
  }
}

.loadMoreButton {
  display: block;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #3470FF;
  padding: 12px 0;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.loadMoreButton:hover {
  color: #0B44CD;
}

.loadMoreButton:disabled {
  color: #ccc;
  cursor: not-allowed;
}