.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
  gap: 29px 29px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.list li {
  display: flex;
  justify-content: center;
}

.loadMore {
  margin: 0 auto;
  background: transparent;
  color: #3470ff;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.loadMore:hover {
  color: #0b44cd;
}

.noResults {
  text-align: center;
  font-size: 20px;
  color: rgba(18, 20, 23, 0.5);
}

@media (max-width: 1200px) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .wrapper {
    gap: 30px;
  }
}